@import "tailwindcss";

:root {
  --primary: #6366f1;
  --primary-dark: #4f46e5;
  --primary-light: #eef2ff;
  --accent: #f97316;
  --accent-light: #fff7ed;
  --bg: #fafafa;
  --card: #ffffff;
  --text: #374151;
  --text-light: #6b7280;
  --border: #e5e7eb;
  --success: #10b981;
  --success-light: #ecfdf5;
  --error: #ef4444;
  --error-light: #fef2f2;
  --warning: #f59e0b;
  --warning-light: #fffbeb;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}